[submodule "submodules/gtest"]
	path = submodules/gtest
	url = https://github.com/google/googletest.git
[submodule "submodules/benchmark"]
	path = submodules/benchmark
	url = https://github.com/google/benchmark.git
[submodule "submodules/oneTBB"]
	path = submodules/oneTBB
	url = git@github.com:uxlfoundation/oneTBB.git
